/* Estilos generales */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1;
}

/* Estilos para el sidebar fijo */
.admin-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh; /* Ocupa el 100% de la altura de la ventana */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

/* Ajuste para el contenido principal para que no quede oculto detrás del sidebar */
/* Esto asume que el sidebar tiene un ancho de w-64 (256px) */
@media (min-width: 1024px) { /* lg breakpoint en Tailwind CSS */
    .main-content-area {
        margin-left: 256px; /* Ajusta el margen izquierdo para dejar espacio al sidebar */
    }
}
